flows.json
[{"id":"b6d03e7d.16e9b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e01f82ad.51f89","type":"ui_tab","z":"","name":"login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"41a80f55.a124a","type":"ui_group","z":"","name":"Reg form","tab":"2dcbc385.04ab3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee5d02c6.2e35","type":"ui_group","z":"","name":"login form","tab":"e01f82ad.51f89","order":2,"disp":true,"width":"6","collapse":false},{"id":"216b355d.57776a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2dcbc385.04ab3c","type":"ui_tab","z":"","name":"registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"5dadea48.8f6234","type":"ui_group","z":"","name":"login form","tab":"e01f82ad.51f89","order":2,"disp":true,"width":"6","collapse":false},{"id":"26270fa8.d5d3","type":"ui_tab","z":"","name":"customer help","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba732de1.f20e4","type":"ui_group","z":"","name":"bot","tab":"26270fa8.d5d3","order":1,"disp":true,"width":"6","collapse":false},{"id":"366f8abf.a5f426","type":"ui_form","z":"b6d03e7d.16e9b","name":"","label":"","group":"41a80f55.a124a","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":170,"y":220,"wires":[["ec2bad7c.84cf","34aa415f.d5b4ee"]]},{"id":"ec2bad7c.84cf","type":"debug","z":"b6d03e7d.16e9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":380,"y":180,"wires":[]},{"id":"34aa415f.d5b4ee","type":"function","z":"b6d03e7d.16e9b","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":280,"wires":[["9f6f51b4.d34d6"]]},{"id":"9f6f51b4.d34d6","type":"cloudant out","z":"b6d03e7d.16e9b","name":"cloudant","cloudant":"","database":"sample","service":"node-red-rstxw-2020--cloudant-1597403506243-11360","payonly":true,"operation":"insert","x":640,"y":280,"wires":[]},{"id":"19119076.b3efb","type":"function","z":"b6d03e7d.16e9b","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["a7e7af74.2fd72"]]},{"id":"a7e7af74.2fd72","type":"function","z":"b6d03e7d.16e9b","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":400,"wires":[["8feebdcd.2fb89"]]},{"id":"8feebdcd.2fb89","type":"cloudant in","z":"b6d03e7d.16e9b","name":"","cloudant":"","database":"sample","service":"node-red-rstxw-2020--cloudant-1597403506243-11360","search":"_idx_","design":"user","index":"user","x":760,"y":400,"wires":[["9daf8f4.3f5457"]]},{"id":"9daf8f4.3f5457","type":"function","z":"b6d03e7d.16e9b","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n    \n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":400,"wires":[["533c7cca.accd34"]]},{"id":"d362e022.94bd8","type":"ui_form","z":"b6d03e7d.16e9b","name":"","label":"","group":"5dadea48.8f6234","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":400,"wires":[["19119076.b3efb"]]},{"id":"533c7cca.accd34","type":"ui_text","z":"b6d03e7d.16e9b","group":"ee5d02c6.2e35","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":400,"wires":[]},{"id":"429d8702.8b1468","type":"ui_form","z":"b6d03e7d.16e9b","name":"","label":"","group":"ba732de1.f20e4","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":150,"y":540,"wires":[["20798ec5.9261b2"]]},{"id":"20798ec5.9261b2","type":"function","z":"b6d03e7d.16e9b","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":540,"wires":[["6e6bb626.792ef8"]]},{"id":"6e6bb626.792ef8","type":"watson-conversation-v1","z":"b6d03e7d.16e9b","name":"","workspaceid":"3d8ecdf9-7367-4707-a3bf-d393d8220381","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/b3b023d7-51fc-4ac4-8a2a-8836d558ba8b","timeout":"","optout-learning":false,"x":500,"y":540,"wires":[["1e9bfecb.196bc1","2fcb84f8.d1ec0c"]]},{"id":"1e9bfecb.196bc1","type":"debug","z":"b6d03e7d.16e9b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":540,"wires":[]},{"id":"2fcb84f8.d1ec0c","type":"function","z":"b6d03e7d.16e9b","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":620,"wires":[["5c5b26a3.0e2418","a69620e5.4c08e"]]},{"id":"5c5b26a3.0e2418","type":"ui_text","z":"b6d03e7d.16e9b","group":"ba732de1.f20e4","order":1,"width":0,"height":0,"name":"","label":"bot response","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":640,"wires":[]},{"id":"a69620e5.4c08e","type":"ui_audio","z":"b6d03e7d.16e9b","name":"","group":"ba732de1.f20e4","voice":"","always":"","x":910,"y":700,"wires":[]}]